.cta{
    margin: 0 0 5rem 0;
    padding-bottom: 3rem;
    border-bottom: 1px solid rgb(160, 160, 160);
}

.cta-child{
    position: relative;
    padding-top: 3rem;
    height: 20rem;
    background: rgb(188,24,35);
    background: linear-gradient(90deg, rgba(188,24,35,1) 0%, rgba(33,13,65,1) 83%, rgba(33,13,65,1) 100%);
    text-align: center;
    overflow: hidden;
}

.cta-title{
    font-family: 'General Sans', sans-serif;
    font-size: 3rem;
    font-weight: 600;
    color: white;
    margin-bottom: 1rem;
}

.cta-p{
    font-size: 1.3rem;
    color: white;
    margin-bottom: 2.5rem;
}

.cta-btn{
    outline: none;
    border: 1px solid white;
    font-size: 1.1rem;
    color: rgb(33,13,65);
    background-color: white;
    padding: 1rem;
    border-radius: 7px;
}

.cta-btn:hover{
    transition: 0.35s;
    background-color: rgb(33,13,65, 0.1);
    color: white;
}

.cta-child-img{
    width: 15rem;
    position: absolute;
    top: 5rem;
    left: 71rem;
    opacity: 70%;
    transform: rotate(10deg);  
    user-select: none;
   -moz-user-select: none;
   -webkit-user-drag: none;
   -webkit-user-select: none;
   -ms-user-select: none;
}

.contact-info{
    margin: 3rem 3.6rem 0 4rem;
    display: flex;
}

.contact-info-left{
    flex: 1;
}

.contact-info-right{
    flex: 1.5;
    display: flex;
    justify-content: space-between;
}

.GVlogo{
    margin-bottom: 1rem;
}

.contact-info-p{
    line-height: 33px;
    color: rgb(97, 97, 97);
    font-size: 1.07rem;
    width: 80%;
}

.contact-info-card{
    width: 20rem;
    height: 9rem;
    border: 1px solid rgb(160, 160, 160);
    border-radius: 10px;
    padding: 1rem;
}

.contact-info-card:hover{
    transition: 0.35s;
    background-color: rgb(236, 236, 236);
}

.contact-info-card-title{
    margin-bottom: 1.2rem;
}

.contact-info-card-mail{
    font-size: 1.2rem;
    color: rgb(97, 97, 97);
}

@media (max-width: 500px){
    .cta-child{
        position: relative;
        padding-top: 2rem;
        padding-bottom: 2rem;
        height: auto;
        background: rgb(188,24,35);
        background: linear-gradient(90deg, rgba(188,24,35,1) 0%, rgba(33,13,65,1) 83%, rgba(33,13,65,1) 100%);
        text-align: center;
        overflow: hidden;
    }
    
    .cta-title{
        font-family: 'General Sans', sans-serif;
        font-size: 2.1rem;
        font-weight: 600;
        color: white;
        margin-bottom: 1rem;
    }

    .cta-p{
        font-size: 1rem;
        color: white;
        width: 80%;
        margin: auto;
        margin-bottom: 2rem;
    }
    
    .cta-btn{
        font-size: 1.1rem;
        color: rgb(0, 0, 0);
        border: 1px solid white;
        padding: 0.7rem;
        border-radius: 7px;
    }

    .cta-child-img{
        width: 8rem;
        position: absolute;
        top: 9rem;
        left: 20rem;
        opacity: 70%;
        transform: rotate(10deg);  
        user-select: none;
       -moz-user-select: none;
       -webkit-user-drag: none;
       -webkit-user-select: none;
       -ms-user-select: none;
    }

    .contact-info{
        margin: 3rem 1.5rem 0 1.5rem;
        display: flex;
        flex-direction: column;
    }

    .contact-info-left{
        flex: 1;
        margin-bottom: 1.5rem;
    }

    .contact-info-right{
        flex: 1.5;
        display: flex;
        flex-direction: column;
    }

    .contact-info-card{
        width: auto;
        height: 9.5rem;
        border: 1px solid rgb(160, 160, 160);
        border-radius: 10px;
        padding: 1rem;
        margin-bottom: 1.5rem;
    }
}