.FormBox{
    width: auto;
    margin: 0;
    text-align: start;
    padding: 0;
}
@media only screen and (max-width: 800px) {

  .form-container{
      padding-top: 0;
      width: fit-content;
      margin-left: -25px;
    }
}