
.topDivider{
  display: flex;
  /* gap:10vw; */
  justify-content: center;
  padding-top: 4%;
}
.leftManDiv{
  width:50%;
  background-image: url("./backgroundLeft.png");
  display: flex;
  flex-direction: column;
  align-items: center;
}
.manImage{
  position: relative;
  left:3vw;
}
.RightSideForm{
  width: 50%;
}
.Form-input{
  border-radius: 25px;
}
.Manuform-container {
  text-align: center;
  max-width: 500px;
  margin: auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-label {
  display: inline;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
}

.form-input {
  /* width: 100%; */
  display: inline;
  padding: 8px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

.product-card {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 16px;
}

.card-input {
  margin-bottom: 16px;
}

.input-label {
  display: block;
  font-size: 14px;
  margin-bottom: 8px;
}

.input-field {
  width: 100%;
  padding: 8px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  box-sizing: border-box;
}

.card-divider {
  border: none;
  border-top: 1px solid #e9ecef;
  margin: 20px 0;
}
.submit-button-wrapper{
  display: flex;
  justify-content: center;
}
.submit-button {
  margin-top: 1rem;
  width: 50%;
  background-color: rgb(58, 0, 88);
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.submit-button:hover {
  background-color: #0056b3;
}


/* codepen */

form {
  width: 300px;
  margin: 0 auto;
  text-align: center;
  padding-top: 50px;
}

.value-button {
  display: inline-block;
  border: 1px solid #ddd;
  margin: 0px;
  width: 40px;
  height: 20px;
  text-align: center;
  vertical-align: middle;
  padding: 11px 0;
  background: #eee;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.value-button:hover {
  cursor: pointer;
}

form #decrease {
  margin-right: -4px;
  border-radius: 8px 0 0 8px;
}

form #increase {
  margin-left: -4px;
  border-radius: 0 8px 8px 0;
}

form #input-wrap {
  margin: 0px;
  padding: 0px;
}

input#number {
  text-align: center;
  border: none;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin: 0px;
  width: 40px;
  height: 40px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.errormsg{
  color: red;
  display: flex;
  margin-bottom: -1rem;
  margin-left:1rem;
}
@media (max-width: 720px){
  .leftManDiv{
    display: none;
  }
  .RightSideForm{
    width: 80%;
  }
}