.image-carousel {
    width: 100%;
    max-width: 50rem; /* Adjust the maximum width as needed */
    margin: 0;
    z-index: 200;
  }
  
  img {
    width: 100%;
    height: auto;
    border-radius: 8px; /* Optional: Add border-radius for rounded corners */
  }
  
  .image-text {
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    color: #fff; /* Text color */
    text-align: center;
  }
  