.hero-section{
    width: auto;
    margin: 3.5rem 3.5rem 4.9rem 3.5rem;
    display: flex;
}

.hero-section-left{
    flex: 1.5;
}

.hero-section-right{
    flex: 1;
    margin-top: 1rem;
}

.hero-title1{
    font-family: 'General Sans', sans-serif;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
    background: rgb(188,24,35);
    background: linear-gradient(90deg, rgba(188,24,35,1) 0%, rgba(33,13,65,1) 83%, rgba(33,13,65,1) 100%);
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text; 
    background-clip:text;
}

.hero-title-new{
    font-family: 'General Sans', sans-serif;
    font-weight: 700;
    margin-bottom: 1rem;
    color: rgba(33,13,65,1);
}

.hero-title-new2{
    font-family: 'General Sans', sans-serif;
    font-weight: 700;
    color: rgba(188,24,35,1);
}

.hero-p1{
    font-family: 'General Sans', sans-serif;
    line-height: 33px;
    font-size: 1.7rem;
    margin-bottom: 2rem;
    text-align: justify;
    background: rgb(188,24,35);
    background: linear-gradient(90deg, rgba(188,24,35,1) 0%, rgba(33,13,65,1) 83%, rgba(33,13,65,1) 100%);
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text; 
    background-clip:text;
    font-weight: 600;
}

.search-bar-p{
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.magnifying-glass{
    color: white;
}

.magnifying-glass-btn{
    border: none;
    border-radius: 10px 0 0 10px;
    padding: 0.57rem 0.7rem 0.4rem 0.7rem;
    background: rgb(188,24,35);
    background: linear-gradient(90deg, rgba(188,24,35,1) 0%, rgba(33,13,65,1) 83%, rgba(33,13,65,1) 100%);
}

.search-bar{
    outline: none;
    border: 1px solid rgb(160, 160, 160);
    border-radius: 0 10px 10px 0;
    width: 25rem;
    padding: 0.5rem;
}

.search-bar:hover{
    border: 1px solid black;
    transition: 0.35s;
}

.hero-section-card{
    background: rgb(188,24,35);
    background: linear-gradient(90deg, rgba(188,24,35,1) 0%, rgba(33,13,65,1) 83%, rgba(33,13,65,1) 100%);
    color: white;
    width: 22rem;
    height: 11rem;
    margin-left: 9rem;
    margin-bottom: 1.3rem;
    border-radius: 10px;
    padding: 1rem;
    position: relative;
    overflow: hidden;
}

.hero-section-card-title{
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

.hero-section-card-btn{
    background-color: white;
    color: black;
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
}

.hero-section-card-btn:hover{
    transition: 0.35s;
    border: 1px solid white;
    color: white;
    background-color: rgba(0,0,0,.1);
}

.card-img{
    width: 8rem;
    position: absolute;
    left: 15rem;
    top: 4rem;
    opacity: 70%;
    transform: rotate(10deg);  
    user-select: none;
   -moz-user-select: none;
   -webkit-user-drag: none;
   -webkit-user-select: none;
   -ms-user-select: none;
}

@media (max-width: 500px){
    .hero-section{
        width: auto;
        margin: 3rem 1rem 3rem 1.5rem;
        display: flex;
        flex-direction: column;
    }
    
    .hero-section-left{
        flex: 1.5;
    }
    
    .hero-section-right{
        flex: 1;
        margin-top: 1rem;
    }

    .hero-title1{
        font-family: 'General Sans', sans-serif;
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 2rem;
        background: rgb(188,24,35);
        background: linear-gradient(90deg, rgba(188,24,35,1) 0%, rgba(33,13,65,1) 83%, rgba(33,13,65,1) 100%);
        -webkit-text-fill-color: transparent; 
        -webkit-background-clip: text; 
        background-clip: text;
    }

    .hero-p1{
        line-height: 37px;
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }

    .hero-p-hidden{
        display: none;
    }

    .magnifying-glass{
        color: white;
    }
    
    .magnifying-glass-btn{
        border: none;
        border-radius: 10px 0 0 10px;
        padding: 0.57rem 0.7rem 0.43rem 0.7rem;
        background: rgb(188,24,35);
        background: linear-gradient(90deg, rgba(188,24,35,1) 0%, rgba(33,13,65,1) 83%, rgba(33,13,65,1) 100%);
    }
    
    .search-bar{
        outline: none;
        border: 1px solid rgb(160, 160, 160);
        border-radius: 0 10px 10px 0;
        width: auto;
        padding: 0.5rem;
        margin-bottom: 3rem;
    }

    .hero-section-card{
        background: rgb(188,24,35);
        background: linear-gradient(90deg, rgba(188,24,35,1) 0%, rgba(33,13,65,1) 83%, rgba(33,13,65,1) 100%);
        color: white;
        width: auto;
        height: 11rem;
        margin-left: 0;
        margin-bottom: 1.3rem;
        margin-right: 0.5rem;
        border-radius: 10px;
        padding: 1rem;
        position: relative;
        overflow: hidden;
    }
    
    .hero-section-card-title{
        font-size: 1.2rem;
        margin-bottom: 1.5rem;
    }
    
    .hero-section-card-btn{
        background-color: white;
        color: black;
        padding: 0.5rem;
        font-weight: bold;
        border-radius: 5px;
    }
    
    .hero-section-card-btn:hover{
        transition: 0.35s;
        border: 1px solid white;
        color: white;
        background-color: rgba(0,0,0,.1);
    }
    
    .card-img{
        width: 8rem;
        position: absolute;
        left: 17rem;
        top: 4rem;
        opacity: 70%;
        transform: rotate(10deg);  
        user-select: none;
       -moz-user-select: none;
       -webkit-user-drag: none;
       -webkit-user-select: none;
       -ms-user-select: none;
    }
    
}

.popup {
  font-size: 1.4rem;
  position: relative;
  bottom: 5rem;
  /* height: 5rem; */
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* width:140%; */
  background-color: #fff;
  border-radius: 10px;
  padding: 1.5rem;
}
.popupText{
  font-size: 0.9rem;
  margin:1rem;
  /* margin-bottom: 1.7rem; */
}
.popLoginBtn{
  background: #4c00aa;
  width: fit-content;
  padding: 0.35rem 1rem;
  border-radius: 10px;
  color: #fff;
}

.popButtons{
    display: flex;
    gap: 1.3rem;
}