.productsListingWrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0;
    row-gap: 2rem;
}

@media (max-width: 500px){
    .productsListingWrapper{
        display: grid;
        grid-template-columns: 1fr;
        margin: 0;
    }
}