.services{
    background: rgb(188,24,35);
    background: linear-gradient(90deg, rgba(188,24,35,1) 0%, rgba(33,13,65,1) 83%, rgba(33,13,65,1) 100%);
    margin: 0 0 5rem 0;
    height: auto;
    color: white;
    padding: 3rem 3.5rem 3rem 3.5rem;
}

.services-title{
    font-family: 'General Sans', sans-serif;
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1rem;
}

.services-title2{
    font-family: 'General Sans', sans-serif;
    font-size: 1.75rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 3rem;
}

.services-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.services-card{
    background-color: rgb(255, 255, 255, 0.1);
    width: 25rem;
    padding: 1.5rem;
    padding-top: 1rem;
    border-radius: 10px;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.card-bg{
    width: 100%;
    height: 4.5rem;
    background-color: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    border-radius: 0 0 1rem 1rem;
}

.services-manufacturer{
    text-align: center;
    flex: 1;
}

.services-manufacturer-img{
    width: 6.5rem;
    margin-bottom: 1rem;
}

.services-manufacturer-p{
    font-size: 1.25rem;
}

.services-distributor{
    text-align: center;
    flex: 1;
}

.services-distributor-img{
    width: 10rem;
    margin-bottom: 1rem;
}

.services-distributor-p{
    font-size: 1.25rem;
}

.gv-logo-title{
    position: relative;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2.5rem;
    z-index: 3;
}

.global{
    color: #bd1d26;
}

.vistar{
    color: #241043;
}

.services-card-p{
    color: #ffffff;
    font-size: 1.2rem;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 4rem;
    padding: 0.75rem;
}

.p3{
    margin: 0;
}

.dotted-line2{
    width: 12rem;
    height: 0;
    border: 2px solid rgb(255, 255, 255);
    border-style: dashed;
}

@media (max-width: 500px){
    .services{
        background: rgb(188,24,35);
        background: linear-gradient(90deg, rgba(188,24,35,1) 0%, rgba(33,13,65,1) 83%, rgba(33,13,65,1) 100%);
        margin: 0 0 5rem 0;
        height: auto;
        color: white;
        padding: 3rem 1.5rem 3rem 1.5rem;
    }

    .services-title{
        font-family: 'General Sans', sans-serif;
        font-size: 2rem;
        font-weight: 600;
        text-align: center;
        margin-bottom: 3.5rem;
    }
    
    .services-title2{
        display: none;
        font-family: 'General Sans', sans-serif;
        font-size: 1.25rem;
        font-weight: 500;
        text-align: center;
        margin-bottom: 3rem;
    }
    
    .services-flex{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        gap: 2rem;
    }

    .services-card{
        background-color: rgb(255, 255, 255, 0.1);
        width: 100%;
        padding: 1.5rem;
        padding-top: 1rem;
        border-radius: 10px;
        text-align: center;
        position: relative;
        overflow: hidden;
    }

    .gv-logo-title{
        position: relative;
        font-size: 1.65rem;
        font-weight: bold;
        margin-bottom: 2.5rem;
        z-index: 3;
    }

    .card-bg{
        width: 100%;
        height: 4rem;
        background-color: #ffffff;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        border-radius: 0 0 1rem 1rem;
    }

    .services-card-p{
        font-size: 1.15rem;
    }

    .services-manufacturer{
        text-align: center;
        flex: 1;
        /* padding: 1rem;
        border: 1px solid white;
        border-radius: 20px;
        width: 100%; */
    }

    .services-manufacturer-p{
        margin-bottom: 0;
    }

    .services-distributor{
        text-align: center;
        flex: 1;
        /* padding: 1rem;
        border: 1px solid white;
        border-radius: 20px;
        width: 100%; */
    }

    .dotted-line2{
        width: 4rem;
        height: 0;
        border: 2px solid rgb(255, 255, 255);
        border-style: dashed;
        transform: rotate(90deg);
    }
}