.categories{
    margin: 0 3.5rem 5rem 3.5rem;
}

.categories-title{
    font-family: 'General Sans', sans-serif;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

.categories-flex{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    row-gap: 1.5rem;
}

.categories-img{
    user-select: none;
   -moz-user-select: none;
   -webkit-user-drag: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   margin-right: 1rem;
}

.bakery-product-img{
    width: 3rem;
}

.beverages-img{
    width: 3rem;
}

.chocolates-img{
    width: 3.7rem;
}

.dairy-products{
    width: 4rem;
}

.grains-img{
    width: 3.2rem;
}

.ready-to-cook-img{
    width: 3rem;
}

.snacks-img{
    width: 3.3rem;
}

.frozen-img{
    width: 3.8rem;
}

.categories-card{
    display: flex;
    align-items: center;
    width: 16rem;
    height: 6rem;
    padding: 1rem;
    border-radius: 5px;
}


.categories-card:hover{
    transition: 0.35s;
    background-color: rgb(236, 236, 236);
}

.categories-card-p{
    font-size: 1.075rem;
    font-weight: bold;
    color: rgb(80, 80, 80);
    margin: 0;
}


@media (max-width: 500px){
    .categories{
        margin: 0 1.5rem 2rem 1.5rem;
    }
    
    .categories-title{
        font-family: 'General Sans', sans-serif;
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: 1.5rem;
    }
    
    .categories-flex{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;
    }

    .categories-card{
        display: block;
        width: auto;
        height: auto;
        padding: 0.5rem;
        border-radius: 10px;
        text-align: center;
    }

    .categories-img{
        width: auto;
        margin-bottom: 1rem;
        user-select: none;
       -moz-user-select: none;
       -webkit-user-drag: none;
       -webkit-user-select: none;
       -ms-user-select: none;
    }

    .categories-card-p{
        font-weight: normal;
    }
    
    .bakery-product-img{
        width: 3rem;
    }
    
    .beverages-img{
        width: 3rem;
    }
    
    .chocolates-img{
        width: 3.7rem;
    }
    
    .dairy-products{
        width: 4rem;
    }
    
    .grains-img{
        width: 3.2rem;
    }
    
    .ready-to-cook-img{
        width: 3rem;
    }
    
    .snacks-img{
        width: 3.3rem;
    }

    .frozen-img{
        width: 3.8rem;
    }
}