.book-a-demo-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:5rem;
    background-color: #210D41;
    color:white;
}
.call-btn{
    margin-top: 20px;
    width:15%;
    background-color: white;
    color:black;
}

.call-btn:hover{
    background-color: #BC1823;
}