
.enquiry-form-content{
  width: 50%;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

label {
  display: block;
  margin-bottom: 10px;
}

.enquiry-input{
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

select option {
  font-size: 16px;
}

.enquiry-submit {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-left:25%;
}

input[type="submit"]:hover {
  /* background-color: ; */
}

.enquiry-input-range {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  background-color: #ccc;
  outline: none;
}

.enquiry-input-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #4CAF50;
  cursor: pointer;
  touch-action: manipulation;
}

.enquiry-input-range::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #4CAF50;
  cursor: pointer;
}

.enquiry-form-content{

  margin-top: 2rem;
  margin-bottom: 2rem;
}

.enquiry-form-section{
  position: fixed;
  left: 50%;
  top: 1%;
  z-index: 10;
  background-color: #F5F5DC;
  width:40%;
  border-radius: 25px;
  border:2px solid black;
  transform: translate(-50%, 0);
}


.header-enquiry{
  text-align:center;
  padding-bottom: 10px;
}
.close-enquiry-form{
  margin: 10px;
}

.close-enquiry-form:hover{
  color:red;
}

.selected-product{
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

@media only screen and (width < 486px){

  .enquiry-form-section{
    position:fixed;
    /* left:10%;  */
    /* margin:auto !important; */
    /* position: fixed; */
    width: 80%;
    /* text-align: center; */
    /* top: 25%; */
    left: 50%;
    /* padding: 20px; */
    transform: translate(-50%, 0);
  }


}