.new-blog{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    
}

.new-blog p{
    line-height: 2.4rem;
    font-size: 18px;
    /* width:90%; */
}
.blog-subheadings-italic{
    text-align:center;
    width:50%;
    line-height: 2rem;
}

/* .blog-para{
    width:50%;
    font-size: 20px;
} */
.blog-para{
    width:50%;
}

.blog-para-2{
    width:60%;
}

.blog-para-3{
    width:50%;
    text-align: center;
}

.blog-subheadings{
    /* width:90%; */
    text-align: left;
}

.article-feedback{
    width:100%;
    height:6rem;
    font-size: 25px;
    background-color: #EDEAFD;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:1rem;
    
}
.blog-like{
    color:gray;
}
.blog-like:hover{
    color:red;
}

.list-blog-2 p{
    list-style-type: upper-roman;

}
.list-blog-2{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    
}
.list-blog-2 li{
    list-style-type: number;
}

.list-blog-2 ul  {
    margin:1rem;
    list-style-type: circle !important;
}





@media only screen and (width<=467px) {
.new-blog p{
    line-height: 2.4rem;
    font-size: 18px;
    width:90%;
}
.blog-subheadings{
    width:90%;
    text-align: left;
}
.blog-subheadings-italic{
    /* text-align:center; */
    text-align: left;
    width:90%;
    line-height: 2rem;
}
}
