.btn-search {
    font-size:40px !important;
    margin-left:5px;
    
}

.header-bottom-actions-btn:hover{
  box-shadow: 0 0 50px #ccc;
  color:#BC1823;
}

.btn-profile{
    font-size:40px !important;
    margin-left: 5px;
}

.list-menu{
  position: absolute;
  border:1px solid black;
  z-index:2;
  right:0;
  margin-top:8.5rem;
  margin-right:6.5rem;
  width:200px;
  background-color: white;
  text-align: left;
  padding:10px 0px 10px 0px;
  border-radius: 10px;
  /* display:none; */
  
  
}
.list-menu li{
  position: relative;
  padding-bottom:10px;
  text-align: center;

}

.list-menu li:hover{
  background-color: #F2F6F7;
}

.btn-profile-main-div{
  max-width: 10px;
  background-color:white;
  color:black;
}

@media screen and (max-width: 1000px) {
  .btn-profile{
    margin-left: 0px;
    
  }
  .logo-website{
    display: flex;
    justify-content: center;
  }
}

.logo-website{
  display:flex;
  
}
.logo-part-one{
  color:#BC1823;

}
.logo-part-two{
  color:#0B2C3C;
}

.header-top-social-link:hover{
  color:#BC1823 !important;
} 

.dropdown-menu-profile{
  background-color: white;
  border:1px solid black;
  padding:10px;
  color:black;
}

.dropdown-item{
  padding:10px;
  color:black;
  text-decoration: none;
  

}
.dropdown-item:hover{
  background-color: gray;
}