@media screen and (max-width: 1000px) {
  .search-item-section{
    display: flex;
    flex-direction: column;
    width:200px;
    
  }
  
}

@media only screen and (width<= 767px) {
  .search-icon{
    margin: 0;
    padding: 0;
    margin-top: 0rem !important;
    
  }
  .search-item-section{
  /* margin-top:-5rem !important; */

  gap:1rem !important;
  
  
}
  
}

.search-item-section{
  margin-top:-5rem !important;

  gap:2rem;
  
}

.search-icon:hover{
  color:#BC1823;
  box-shadow:  5px 5px 5px #ccc;


}



.search-icon{
  /* box-shadow:  1px 5px 5px #ccc; */
  width: fit-content;
  margin-top: 2rem;
  /* font-size: large; */
  /* font-size: 50px; */
  /* width: 50px !important; */
  /* height: 55px !important; */
}