@media screen and (max-width: 1000px) {
  .search-categories {
    display: flex;
    flex-direction: column;
    width: 200px;
    gap: -2rem;
  }
}

@media only screen and (width<= 767px) {
  .search-icon {
    margin: auto;
    padding: 0;
    margin-top: 0rem !important;
    display: flex;
    text-align: center !important;
    background-size: 100% 100vh;
  }
  .landing-page {
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: silver;
  }
  .search-item-section {
    /* margin-top:-5rem !important; */

    /* gap: 1rem !important; */
  }
}

@media only screen and (width <480px) {
  .hero {
    /* background-size: auto !important; */
    background-image: "./images/Web Banner Final .png";
  }
}

.hero {
  /* padding-top:3rem;
  padding-bottom: 3rem; */
  height: 60vh;

  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero::before {
  /* content: "";
  padding-top: 5rem;
  height:30rem;
  background-image: url("./images/Website\ Image.svg");
  background-size: 100% 30rem;
  /* z-index:1; */
  /* opacity: 0.2; */

  /* background-size: contain; */

  content: "";
  /* background-image: url("./images/Web\ Banner\ Final\ .svg");  */
  /* background-color: #210d41; */
  /* background-size: 100% 50rem !important; */

  /* background-size: cover; */
  
  /* opacity: 0.35; */
}
.hero{
  background-color: #210d41;
}
.hero-title {
  position: relative;

  color: white !important;
  /* font-size: ; */

  line-height: 1.2;
  /* text-align: center; */
}

.hero-text {
  position: relative;

  color: white !important;
  /* font-size: ; */
  /* line-height: 0.9; */
  /* text-align: center; */
}

.search-item-section {
  margin-top: -5rem !important;
  gap: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  align-items: center;

  width: 150%;
  /* margin-top: "3rem"; */
  padding-bottom: 2rem;
}

.search-icon:hover {
  color: #bc1823;
  box-shadow: 5px 5px 5px #ccc;
}

.search-categories {
  display: flex;
  gap: 1rem;
}

.search-icon {
  /* box-shadow:  1px 5px 5px #ccc; */
  width: fit-content;
  margin-top: 2rem;
  z-index: 2;
  color: white;
  /* font-size: large; */
  /* font-size: 50px; */
  /* width: 50px !important; */
  /* height: 55px !important; */
}

.buttons-hero-section {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 10px;
  gap: 10px;
  /* background-color: #bc1823 !important; */
}

.header-text {
  color: #bc1823;
}
