@media screen and (max-width: 1000px) {
  .search-item-section{
    display: flex;
    flex-direction: column;
    width:200px;
    
  }
  
}

.search-item-section{
  margin-top:-5rem !important;
  
}

.search-icon:hover{
  color:#BC1823;
}