
.property-list-container{
    display: flex;
    flex-direction: column;
    width:fit-content !important;
    /* justify-content: center; */
    align-items: center;
}

/* .feature-card{
    height: 3rem;

} */
.property-list{
    margin-top:5rem;
    gap: 2rem;
    padding: 0 !important;
    display: flex;
    
}



@media only screen and (width<=767px) {

    .property-list{
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        gap:2rem;
        margin-top: 4rem;
    }
    .feature-card{
        margin: 0;
        padding: 0;
    }

}

.explore-more-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:2rem;

}